# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
*.mypy_cache/

# Virtualenv
venv/
env/
.venv/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Google credentials
service_account.json

# Docker
*.tar
